  html{
    scroll-behavior: smooth;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
li{
    list-style: none;
}
/*******actual css start******/

#loader{
    width: 100%;
    height: 100vh;
    background: #ffffff url(../images/loader.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
}
/*****basic css part start*****/

/*****header-part start*****/
.header-part{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    text-transform: uppercase;
}
.navbar ul li a{
    color: rgba(39, 27, 110, 0.616)!important;
    transition-duration: 400ms;
}
.navbar ul li a:hover{
    background-color: rgba(0, 247, 255, 0.157);
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    color: #000000;
}

.img-logo{
    width: 80px;
    animation-duration: 3s !important;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.search-box{
    background-color: rgba(7, 8, 58, 0.479);
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
}
.search-box:hover .search-txt{
    width: 160px;
    box-shadow: 0 0 20px rgba(0, 255, 242, 0.212);
}
.search-txt{
    background: transparent;
    outline: none;
    color: #0df5f5;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    width: 0px;
    transition-duration: 710ms;
}
.search-btn{
    color: rgb(0, 255, 255);
    text-align: center;
}
.search-btn:hover{
    color: rgba(16, 255, 255, 0.685);
}
::-webkit-input-placeholder{
    color: rgba(0, 247, 255, 0.753);
}
/*****header-part end*****/
/*****center part start*****/
.center-part{
    width: 100%;
    height: 87vh;
}
.first-center-part{
    height: 87vh;
}
.second-center-part{
    height: 87vh;
}
.first-center-part h3{
    margin-top: 30px;
    padding: 8px 30px;
    color: rgba(188, 27, 194, 0.829);
}
.first-center-part .fa-apple{
    font-size: 5.3rem;
    color: rgba(188, 27, 194, 0.829);
}
.first-center-part p{
    color: rgba(160, 25, 165, 0.918);
}
.first-center-part img{
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
.first-center-part a{
    position: relative;
    left: 13%;
    top: 50px;
    text-align: center;
    padding: 7px 27px;
    font-size: 1.4rem;
    background-color: rgb(21, 20, 34);
    text-transform: uppercase;
    color: rgb(0, 255, 255);
    transition-duration: 400ms;
}
.first-center-part a:hover{
    color: rgb(16, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 20px rgb(0,0,0,.2);
}
.circle{
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    overflow: hidden;
    line-height: 110px;
    text-align: center;
    font-size: 4rem;

}
.circle .fa{
    margin: 0;
    padding: 0%;
    animation: animates 2s linear infinite;
    color: rgb(255, 157, 0);
}
@keyframes animates {
    0%{
        transform: translateY(-50%);
        text-shadow: 0 50px 0 rgb(8, 255, 243);
    }
    20%{
        transform: translateY(0%);
        text-shadow: 0 10px 0 rgba(171, 6, 248, 0.794);
    }
    40%{
        transform: translateY(0%);
        text-shadow: 0 -10px 0 rgba(253, 6, 233, 0.815);
    }
    60%{
        transform: translateY(0%);
        text-shadow: 0 0px 0 rgb(81, 255, 0);
    }
    100%{
        transform: translateY(100%);
        text-shadow: 0 -50px 0 rgb(255, 239, 8);
    }
}
.circle:before{
    content: "SCROLL DOWN";
    font-size: .7rem;
    position: absolute;
    text-align: center;
    left: 8px;
    top:-22px
}
.second-center-part .carousel-inner{
    margin-top: 10px;
}
.second-center-part .carousel-inner img{
    width: 300px;
    height:70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.social-icon{
    padding: 50px 20px;
}
.social-icon a .fa{
    padding: 15px 23px;
    margin: 0 20px;
    position: relative;
    left: 2%;
    background-color: #f5f4f4;
    font-size: 1.3rem;
    text-align: center;
    color: #000000;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0 ,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.226);
}
.social-icon a .fa:hover{
    color: rgb(170, 13, 175);
    box-shadow: 0 0 20px rgba(160, 25, 165, 0.918);
}
/*****center part end*****/

/*****count part start*****/
.cnt-watch{
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.first-cnt{
    height: 50vh;
    position: relative;
    top: 30px;
}
.second-cnt{
    height: 50vh;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 3s!important;
    animation-iteration-count:linear infinite;
    animation-direction: alternate-reverse;
}
.countmethod{
    position: absolute;
    left: 0;
    top: 30px;
}
.first-cnt p{
    position: relative;
    top: 45%;
}
.first-cnt a{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: rgb(0,0,0,.8);
    color: rgb(0, 255, 255);
    font-weight: bold;
    transition-duration: 400ms;
}
.first-cnt a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.2);
    color: rgb(0, 255, 255);
    text-decoration: none;
}
.clock{
    width: 200px;
    height: 200px;
    background: #c4eeea65 url('../images/clock.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #ffffff;
    box-shadow: inset 0 0 30px rgb(223, 215, 215);
    box-shadow: 0 0 20px rgb(0, 255, 255);
    animation:  clk 20s linear infinite;
    animation-direction: alternate;
}
@keyframes clk{
    100%{
        box-shadow: 0 0 20px rgb(255, 251, 0);
    }
    70%{
        box-shadow: 0 0 20px rgb(255, 5, 255);
    }
    30%{
        box-shadow: 0 0 20px rgb(255, 179, 0);
    }
}

.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #070604;
    border-radius: 50%;
    border: 1px solid #c4eeea65;
    z-index: 9998;
}
.hour,
.min,
.sec{
    position: absolute;
}
.hour, .hr{
    width: 160px;
    height: 160px;
}
.min, .mn{
    width: 190px;
    height: 190px;
}
.sec, .sc{
    width: 200px;
    height: 200px;
}
.hr, .mn ,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: rgb(255, 5, 234);
    z-index: 10;
    border-radius: 50%;
    top: 30px;
}
.mn::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 55px;
    background-color: rgb(255, 238, 0);
    z-index: 11;
    border-radius: 6px 6px 0 0;
    border-radius: 50%;
    top: 30px;
}
.sc::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 90px;
    background-color: rgb(255, 0, 0);
    z-index: 12;
    border-radius: 6px 6px 0 0;
    top: 29px;
    border-radius: 50%;
}
/*****count part end*****/

/*****model part start*****/
.model-part{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.first-model-part{
    height: 80vh;
    position: relative;
    bottom: 10px;
    background-image: linear-gradient(to right,rgba(255, 217, 0, 0.123) 1%,#ffffff 10%);
}
.first-model-part h4{
    margin-top: 20px;
}
.second-model-part{
    height: 80vh;
    position: relative;
    bottom: 10px;
    background-image: linear-gradient(to left,rgba(255, 217, 0, 0.123) 1%,#ffffff 10%);
}

.main-container{
    width: 240px;
    height: 420px;
    margin: 5px 0;
    perspective: 700px;
    position: relative;
    left: 50%;
    top: 20px;
    perspective: 700px;
    transform: translateX(-50%);
}
.main-container .card{
    width: 100%;
    height: 100%;
    border: none!important;
    transition: all 2s ease;
    transform-style: preserve-3d;
}
.main-container:hover .card{
    transform: rotateY(180deg);
}
.front-side, .back-side{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.front-side img{
    width: 100%;
    height: 100%;
}
.back-side {
    transform: rotateY(180deg);
}
.back-side img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(8, 42, 41, 0.883);
}
.second-model-part p{
    margin-top: 8px;
}
.s-fpart{
    height: 30vh;
}
.s-spart{
    height: 30vh;
}
.second-model-part a{
    padding: 10px 30px;
    position: relative;
    left: 21%;
    margin: 0 15px;
    top: 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #05ffff;
    font-weight: bold;
    transition: .15s;
}
.second-model-part a:hover{
    color: #00f7ff;
    box-shadow: 0 0 20px rgb(0,0,0,.2);
    text-decoration: none;
}
/*****model part end*****/

/*****smart acc part start*****/
.smart-acc{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.first-acc-part{
    height: 75vh;
   
}
.first-acc-part h4{
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.first-acc-part .names{
    position: relative;
    padding: 10px 0;
    animation-duration: 5s!important;
    animation-iteration-count: infinite;  
    animation-direction: alternate;
}
.names h5{
    font-size: .8rem;
}
.second-acc-part{
    height: 75vh;
}
.second-acc-part h4{
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.swiper-container{
    width: 100%;
    height: 300px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.swiper-wrapper .swiper-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100%

}
.swiper-pagination{
   background-color: rgba(243, 228, 14, 0.801);
   padding: 10px 0;
   width: 40%!important;
   animation-duration: 6s!important;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.second-acc-part a{
    padding: 10px 30px;
    position: relative;
    left: 37%;
    text-transform: uppercase;
    background-color: #000000;
    color: rgb(0, 255, 255);
    font-weight: bold;
    transition: .20s;
}
.second-acc-part a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.3);
    color: rgb(0, 255, 255);
    text-decoration: none;
}
/*****smart acc part end*****/

/*****service part start****/
.serv{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    overflow: hidden;
}
.firstser{
    height: 85vh;
}
.secondser{
    height: 85vh;
}
.fcrdul .card{
    height: 60vh;
    margin: 40px 0;
}
.card{
    border: none!important;
    transition-duration: 400ms;
}
.card:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.2);
    transform: translateY(-15px);
}
.card-header{
    box-shadow:inset 0 0 20px rgba(9, 247, 255, 0.88);
    border: none!important;
    text-align: center;
}
.card-body{
    background-color: rgba(19, 197, 197, 0.13);
}
.card-body li{
    margin: 10px 0;
}
.card-footer{
    border: none!important;
    box-shadow:inset 0 0 20px rgba(9, 247, 255, 0.555);
    background-color: rgba(155, 240, 240, 0.335)!important;
}

.card-footer button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 40px;
    background: transparent;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(202, 196, 196, 0.514);
}
.fcrdul a{
    padding: 10px 30px;
    position: relative;
    left: 8%;
    border-radius: 20px;
    background-color: #000000;
    color: rgb(0, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 500ms;
}
.fcrdul a:hover{
    color: rgb(0, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 20px rgba(22, 58, 58, 0.356);
}
.scrdul .card{
    height: 60vh;
    margin: 40px 0;
}
.scrdul a{
    padding: 10px 30px;
    position: relative;
    left: 8%;
    border-radius: 20px;
    background-color: #000000;
    color: rgb(0, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 500ms;
}
.scrdul a:hover{
    color: rgb(0, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 20px rgba(22, 58, 58, 0.356);
}
.listmethod{
    font-size: 2rem;
    color:rgba(255, 0, 119, 0.924);
}
.secondser p{
    margin: 58px 0;
}
.secondser a{
    padding: 10px 30px;
    position: relative;
    left:34%;
    border-radius: 20px;
    background-color: #000000;
    color: rgb(0, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 500ms;
}
.secondser a:hover{
    color: rgb(0, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 20px rgba(22, 58, 58, 0.356);
}
/*****service part end****/

/***contact part start****/
.cnt-part{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.contact-frist{
    height: 69vh;
}
.contact-frist form{
    margin-top: 50px;
}
.contact-frist form button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.contact-second{
    height: 69vh;
}
.contact-second p{
    margin: 50px 0;
    font-size: 1.1rem;
}
.what{
    font-size: 3rem;
    padding: 3px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.171);
    color: rgb(51, 255, 0);
}
/***contact part end****/
/******about part start********/
.ftr-part{
    width: 100%;
    height: 58vh;
    background-color: rgba(255, 251, 188, 0.52);
    overflow: hidden;
}
.snd-ftr{
    text-align: center;
}
.snd-ftr li {
    margin: 10px 0;
    list-style: none;
}
.scrolltop i{
    font-size: 2rem;
    position: fixed;
    bottom: 40px;
    border: 2px solid rgb(243, 132, 6);
    right: 15px;
    padding: 10px 16px;
    border-radius: 60px;
    border-top: none;
    color: rgb(255, 0, 0);
    cursor: pointer;

}
.plus{
    position: fixed;
    left: 34px;
    width: 50px;
    bottom: 7%;
    height: 50px;
    background-color: rgba(37, 221, 13, 0.705);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02ffff;
    font-size: 2.5rem;
    transition-duration: 400ms;
}
.plus:before{

}
.plus:after{
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #58ea00;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    opacity: 0;
    border-radius: 50%;
    animation: animatf 1.5s linear infinite;
}
.plus:hover{
    transform: translateY(-10px) rotateY(180deg);
}
@keyframes animatf {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
   
/******about part end********/

/*****basic css part end*****/

/*****media queries start*****/
@media(max-width:768px){
    p{
        font-size: .9rem;
    }
    .navbar{
        text-align: center;
    }
    .search-box{
        padding: 5px 8px;
        width: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-toggler:hover{
        border: none!important;
        outline:1px solid rgb(16, 6, 160)!important;
        background-color: rgba(0, 255, 255, 0.041);
    }
    .first-center-part img{
        width: 280px;
        left: 60%;
    }
    .first-center-part a{
      left: 19%;
    }
    .center-part{
        height: auto;
    }
    .second-center-part{
        height: auto;
    }
    .second-center-part .carousel-inner img{
        width: 270px;
        height: 65%;
    }
    .header-part{
        height: auto;
    }
    .social-icon a .fa{
        padding: 5px 7px;
        margin: 0 13px;
        left: 2%;
        font-size: 1rem;
    }
    .cnt-watch{
        height: auto;
    }
    .first-cnt p{
       font-size: .9rem;
    }
    .first-cnt a{
        padding: 7px 7px;
        font-size: .5rem;
        top: 85%;
        font-weight: normal;
    }
    .countmethod{
        font-size: .9rem;
    }
    .model-part{
        height: auto;
    }
    .second-cnt{
        height: auto;
    }
    .second-model-part{
        height: auto;
    }
    .second-model-part a{
        padding: 10px 20px;
        position: relative;
        left: 10%;
        margin: 0 6px;
        top: 100%;
        font-weight: normal;
    }
    .smart-acc{
        height: auto;
        position: relative;
        bottom: 30px;
    }
    .first-acc-part{
        height:auto;
    }
    .second-acc-part{
        height: auto;
    }
    .swiper-container{
       margin-bottom: 70px;
    }
    .second-acc-part a{
        left: 25%;
    }
    .swiper-pagination{
        width: 60%!important;
     }
     .serv{
         position: relative;
         bottom: 60px;
         height: auto;
         
     }
     .firstser{
         height: auto;
     }
     .secondser{
         height: auto;
     }
     .fcrdul a{
        padding: 7px 20px;
        left: 8%;
        bottom: 15px;
        font-size: .7rem;
    }
    .scrdul a{
        padding: 7px 20px;
        left: 8%;
        bottom: 15px;
        font-size: .7rem;
    }
    .fcrdul .card-header h5{
        font-size: 1rem!important;
    } 
    .scrdul .card-header h5{
        font-size: 1rem!important;
    } 
    .card-body li{
        margin: 8px 0;
        font-size: .8rem;
    }
    .secondser a{
        bottom: 15px;
        left: 28%;
    }
    .cnt-part{
        height: auto;
    }

    
}
/*****media queries end*****/